.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
inst/doc
script/analysis-Rmd
script/archive-data
script/archive-R
script/archive-src
script/debug
script/extdata
script/png
script/results
data-raw/
